<section class="about-me img2">
  <span class="sec-btn about2" id="about-me">About Me</span>
  <br />
  <div class="hero-img" data-aos="fade-right" data-aos-duration="1300">
    <div class="my-img">
      <div class="img">
        <img src="assets/yamany_grad.jpg" alt="Ahmed elyamany" loading="lazy" />
      </div>
    </div>
  </div>

  <div class="Curious" data-aos="fade-left" data-aos-duration="1300">
    <h2>Curious about me ?</h2>

    <p>
      I'm a passionate, self-proclaimed designer specializing in Front-End
      development (Angular Framework). I am very enthusiastic about bringing the
      technical and visual aspects of digital products to life. User experience,
      pixel-perfect design, and writing clear, readable, highly performant code
      matters to me.
    </p>
    <p>
      I began my journey as a web developer in 2024 after graduating. Since
      then, I've continued to grow and evolve as a developer, taking on new
      challenges and learning the latest technologies along the way. I'm
      building cutting-edge web applications using modern technologies such as
      Angular, TypeScript, Bootstrap, Tailwindcss, Supabase, Firebase, and more.
      I am a progressive thinker and enjoy working on projects end to end, from
      ideation to development.
    </p>
    <p>Finally, some quick bits about me.</p>
    <div class="cer">
      <ul>
        <li>Bachelor of Computer and Information Technology</li>
        <li>
          <strong>Future University in Egypt </strong> in affiliation with
          <strong> University of Cincinnati,USA</strong>
        </li>
      </ul>
    </div>
  </div>
</section>
