<div class="container">
  <section class="hero">
    <div class="introduction">
      <div class="my-img" data-aos="fade-left" data-aos-duration="1300">
        <div class="img">
          <img
            src="assets/ana.jpeg"
            alt="Ahmed Elyamany"
            loading="lazy"
            (contextmenu)="disableClick($event)"
          />
        </div>
      </div>
      <div class="intro" data-aos="fade-right" data-aos-duration="1300">
        <h2>
          Hi,I'm Ahmed — a
          <span #animatedText class="animated-text"></span>
        </h2>
        <p>
          A highly motivated Computer Science graduate with a strong passion for
          problem-solving, software development, and continuous learning.
          Proficient in HTML, CSS, JavaScript, and Angular, with hands-on
          experience in developing responsive, user-friendly web applications.
          Eager to contribute to dynamic development teams and grow within the
          tech industry
        </p>
      </div>
    </div>
    <div class="address" data-aos="fade-right" data-aos-duration="1300">
      <div class="location">
        <i class="fa-solid fa-location-dot"></i>
        <p>Cairo, New Cairo</p>
      </div>
      <div class="available" data-aos="fade-right" data-aos-duration="1300">
        <i class="fa-solid fa-circle"></i>
        <p>Available for new projects</p>
      </div>
    </div>

    <div class="sociol-icons" data-aos="fade-right" data-aos-duration="1300">
      <a
        href="https://www.linkedin.com/in/ahmed-elyamany-mohamed"
        target="_blank"
        appSafeLink
        ><i class="icon-linkedin"></i>
      </a>
      <a
        href="https://github.com/Ahmed-Elyamany-Mohamed"
        target="_blank"
        appSafeLink
        ><i class="icon-github"></i>
      </a>
      <a href="#contact"> <i class="icon-gmail"></i></a>
      <a
        href="https://wa.me/201033405989?text=Hello%2C%20I'm%20interested%20in%20your%20work!"
        target="_blank"
        appSafeLink
      >
        <i class="icon-whatsapp"></i>
      </a>
    </div>
  </section>
</div>
