<section class="experience" e-aos="fade-up" id="experience">
  <span class="sec-btn" style="align-self: center; margin-top: 2rem"
    >Experience</span
  >
  <br />

  <div class="title-sec">
    <p>Here is a quick summary of my most recent experiences:</p>
  </div>

  <div class="btn-sort">
    <button class="btn btn-outline-dark mb-4" (click)="toggleSort()">
      Sort : {{ currentSort === "latest" ? "Oldest" : "Latest" }}
    </button>
  </div>
  <div
    class="exp-card"
    data-aos="fade-left"
    data-aos-duration="1300"
    *ngFor="let exp of sortedExperience; let i = index"
    [class.not-first]="exp?.title !== highlightedTitle"
    [class.first-card]="exp?.title === highlightedTitle"
  >
    <div class="card-content">
      <div class="exp-img">
        <img [src]="exp.image_url" alt="next" loading="lazy" />
      </div>
      <div class="date">
        <p>{{ exp.date }}</p>
      </div>
      <div class="exp-title">
        <h2>{{ exp.title }}</h2>
        <ul>
          <li *ngFor="let desc of exp.description">{{ desc }}</li>
        </ul>

        <button class="btn btn-outline-dark">
          <a [href]="exp.link" class="text-end" target="_blank" appSafeLink>
            <i class="icon-chain-broken"></i>
            Certificate
          </a>
        </button>
      </div>
    </div>
  </div>
</section>
